{% extends "exposicion/BasePresentacion.html" %}

{% block slides %}
    {% include "exposicion/diapositivas/01_Portada.html" %}
    {% include "exposicion/diapositivas/02_SistemaExperto.html" %}
    {% include "exposicion/diapositivas/03_SeArquitectura.html" %}
    {% include "exposicion/diapositivas/04_SeCasoMycin.html" %}
    {% include "exposicion/diapositivas/05_CnnConcepto.html" %}
    {% include "exposicion/diapositivas/06_CnnPipeline.html" %}
    {% include "exposicion/diapositivas/07_CnnCasos.html" %}
    {% include "exposicion/diapositivas/08_Comparacion.html" %}
    {% include "exposicion/diapositivas/09_Hibrido.html" %}
    {% include "exposicion/diapositivas/10_Evaluacion.html" %}
    {% include "exposicion/diapositivas/11_Resumen.html" %}
{% endblock %}
